:root {
  --text-color: white;
  --blue-color: #326DEC;
  --bg-color: black;
}


@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu/Apercu-Bold.otf') format('opentype');
  font-weight: bold;
}



.topLeft {
  top: 2.5%;
  left: 2.5%;
}

.topRight {
  top: 2.5%;
  right: 2.5%;
}

.bottomLeft {
  bottom: 2.5%;
  left: 2.5%;
}

.bottomRight {
  bottom: 2.5%;
  right: 2.5%;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* accessibility */
*:focus {
  outline: 4px solid var(--blue-color);
}


html,
body {
  color: var(--text-color);
  background-color: black;
  font-family: 'Figtree Variable', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.noYScrollBar {
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--blue-color);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}


/* Mobile */
@media (max-width: 300px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: .65rem;
  }
  
}

@media (max-width: 860px) {
  :focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

