
.main header {
  position: fixed;
}

.main h3 {
  margin: 0.75rem 0;
}

.center {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.centerContent {
  position: absolute;

  top: 10%;
  left: 10%;
  width: 80%;
  height: fit-content;

  text-align: center;
  line-height: 2.2;
  overflow-y: auto;
  background-color: rgba(0,0,0,.5);
  border-radius: 1rem ;
}

.centerContent p {
  font-size: 1.25rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

/* Mobile */
@media (max-width: 915px) {
  .centerText {
    height: 80%;
    overflow-y: scroll;
  }
}

@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
