
.main header {
  position: fixed;
}

.main h3 {
  margin: 0.75rem 0;
}

.center {
  position: absolute;
  left: 50%;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
}

.centerText {
  position: absolute;
  height: fit-content;
  max-height: 80vh;
  width: 80vw;
  margin: 10vh 10vw;
  text-align: center;
  line-height: 2.2;
  overflow-y: auto;
  background-color: rgba(0,0,0,.5);
  border-radius: 5%;
}

.centerText p {
  font-size: 1.25rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

/* Mobile */
@media (max-width: 860px) {
  .centerText {
    height: 80vh;
  }
}

@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
