.menuIcon {
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    font-size: 2.75rem;
  }

  .svgContainer {
    width: 100%;
    height: 100%;
  }


.sideMenu {
    margin-left: auto;
    position: fixed;
    width: fit-content;
    right: 2.5%;
    top: 10%;
}


.sideMenu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: left .3s ease;
}

.close {
    left: 200px;
}

.open {
    left: 0px;
}


.sideMenu ul {
    list-style-type: none;
  }

.sideMenu li {
    text-align: right;
    padding: 1rem 0;
  }
  
  .sideMenu li a {
    text-decoration: underline;
    font-size: 1.25rem;
  }


/* Mobile */
@media (max-width: 300px), (max-height: 300px) {

  .menuIcon {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 1.75rem;
  }

  .sideMenu li a {
    text-decoration: underline;
    font-size: 1rem;
  }

  .sideMenu li {
    padding: .5rem 0;
  }
}

/* Mobile */
@media screen and (max-height: 700px){
  /* landscape mode has smaller vertical padding for more compact vertical links */
  .sideMenu li {
    padding: .75rem 0;
  }

}

/* Mobile */
@media screen and (max-height: 500px){
  /* landscape mode has smaller vertical padding for more compact vertical links */
  .sideMenu li {
    padding: .5rem 0;
  }

  .sideMenu {
    top: 15%;
  }
}