.menuIcon {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 2.75rem;
    cursor: pointer;
  }

.sideMenu {
    margin-left: auto;
    position: fixed;
    width: fit-content;
    right: 5%;
    top: 15%;
}


.sideMenu nav {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: left .3s ease;
}

.close {
      left: 200px;
  }

.open {
    left: 0px;
}


.sideMenu > nav > ul {
    list-style-type: none;
  }

.sideMenu > nav > ul > li {
    text-align: right;
    padding: 1rem 0;
  }

  @media screen and (max-height: 500px){
    /* landscape mode has smaller vertical padding for more compact vertical links */
    .sideMenu > nav > ul > li {
      padding: .75rem 0;
    }
  }
  
  .sideMenu > nav > ul > li > a {
    text-decoration: underline;
    font-size: 1.25rem;
  }
